<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatGPTAnalysisProxyURL</key>
	<string>https://us-central1-mywealth-api-router.cloudfunctions.net/analyzeWealthMap</string>
	<key>ExchangeRateProxyURL</key>
	<string>https://us-central1-mywealth-api-router.cloudfunctions.net/latestExchangeRate</string>
	<key>MetalPriceProxyURL</key>
	<string>https://us-central1-mywealth-api-router.cloudfunctions.net/latestMetalPrice</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.bv.MyWealth.backup</string>
			<key>UTTypeDescription</key>
			<string>MyWealth Backup</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>backup</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launchColor</string>
		<key>UIImageName</key>
		<string>launchImage</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
